body {
    font-family: Arial, sans-serif;
    background-color: #22a011;
    margin: 0;
    padding: 0;animation: pulsate 5s infinite alternate;
    background-image: url(imag1.png);
}

@keyframes pulsate {
    0% {
        background-image: url(imag1.png);
        opacity: 1;
    }
    25% {
        background-image: url(imag2.png);
        opacity: 1;
    }
    50% {
        background-image: url(imag3.png);
        opacity: 1;
    }
    75% {
        background-image: url(imag0.png);
        opacity: 1;
    }
    100% {
        background-image: url(imag5.png);
        opacity: 1;
    }
}
#quiz-container {
    max-width: 900px;

    margin: 0 auto;
    padding: 20px;
    background-color: #cbe1d1;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(19, 5, 5, 0.1);
    text-align: center;
}

h1 {
    font-size: 60px;
    color: #333333;
}

#question-container {
    margin-top: 50px;

}

#question-text {
    font-size: 60px;
    margin-bottom: 20px;
}

#choices-list {
    list-style: none;
    padding: 0;
}

.choice-btn {
    background-color: #007bff;
    color: #ffffff;
    font-size: 80px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.choice-btn:hover {
    background-color: #0bd886;
}

#result-text {
    font-size: 30px;
    margin-top: 10px;
    color: #1d2278;
    padding-top: 80px;
}

#next-btn {
    background-color: #3766b7;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

#next-btn:hover {
    background-color: #e61919;
}